<!DOCTYPE html>
<html>
<head>

    <title>COMPANY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">COMPANY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <% if(!currentUser){ %>
                    <a class="nav-link" href="/login">Sing In</a>
                    <a class="nav-link" href="/register">Register</a>
                <% } else { %>
                    <a class="nav-link" href="/">Logged in as: <%= currentUser.username %></a>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </form>
        </div>
    </div>
</nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">MY COMPANY NAME</h1>
                <p class="lead">A brief description of your company..</p>
            </div>
            <div class="admin-buttons">
                <% if(currentUser){ %>
                    <div id="admin-role">
                        <h1 class="display-6">Admin Panel</h1>
                    </div>
                    <a class="btn btn-primary btn-sm" href="/products/new">Add product</a>
                    <a class="btn btn-secondary btn-sm disabled" href="#">Add category</a> <!--doesn't work yet -->
                <% }%>
            </div>
    </div>