<!DOCTYPE html>
<html>
<head>
    <title>My First Company</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand active" href="/">COMPANY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Contact</a>
                </li>
                <% if(currentUser){ %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Panel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/products/new">Add product</a>
                        <a class="dropdown-item" href="#">Add category</a>
                    </div>
                </li>
                <% }%>
            <form>
                <% if(!currentUser){ %>
                    <a class="btn btn-sm btn-primary" href="/login">Sing In</a>
                    <a class="btn btn-sm btn-success" href="/register">Register</a>
                <% } else { %>
                    <a class="btn btn-sm btn-info" href="/">Logged in as: <%= currentUser.username %></a>
                    <a class="btn btn-sm btn-danger" href="/logout">Logout</a>
                <% } %>

            </form>
        </div>
    </div>
</nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">YOUR COMPANY NAME</h1>
                <p class="lead">A brief description of your company..</p>
            </div>

    </div>