<% include partials/header %>

<div class="container">
    <div class="middle">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% products.forEach(function(product){ %>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="dipslay-block">
                            <img src="<%= product.image %>" class="img-thumbnail">
                        </div>
                        <div class="caption-full">
                            <h4><%= product.name %></h4>
                        </div>
                        <p>
                            <a href="/products/<%= product._id %>" class="btn btn-secondary btn-sm">Learn more</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
    <% include partials/footer %>
