/*//////////////////////////*/
/*BODY STYLING*/
/*//////////////////////////*/
body, html {
  height: 100%;
  margin: 0;
  padding: 0;

}

.jumbotron {
  background: none;
  /*margin: 2rem auto 2rem;*/
  text-align: center;
  padding-bottom: 0;
}

.column-right {
  margin: auto;
  padding-top: 2rem;
  width: 70%;
}

#edit-cont{
  width: 50%;
}
.column-right div p {
  margin-bottom: 1rem;
  line-height: 25px;
  text-align: justify;
}
/*//////////////////////////*/
/*IMG STYLING*/
/*//////////////////////////*/

#img-edit{
    height: 100%;
}

.thumbnail {
  padding: 0;
  margin-bottom: 1rem;
}

.img-thumbnail {
  padding: 0;
  width: 100%;
  height: 200px;
}

.img-show {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: 0;
  bottom: 0;
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
}

.caption-full {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

#category-full {
  border: none;
}

.col-md-6 {
  margin: 2rem auto;
}

/*//////////////////////////*/
/*BTN STYLING*/
/*//////////////////////////*/
#delete-form {
    display: inline;
}

.btn-edit {
  color: white;
  margin-top: 10px;
}

.admin-buttons {
  text-align: center;
  margin-bottom: 2rem;
}

/*//////////////////////////*/
/*OTHER STYLING*/
/*//////////////////////////*/
.well {
  line-height: 2rem;
}
/*//////////////////////////*/
/*FOOTER STYLING*/
/*//////////////////////////*/
