<% include ../partials/header %>

<h1 class="text-center" style="width: 30%; margin: 0 auto 2rem;">Sing In!</h1>

<form action="/login" method="POST" style="width: 30%; margin: 0 auto;">
    <input class="form-group form-control" type="text" name="username" placeholder="Username">
    <input class="form-group form-control" type="password" name="password" placeholder="Password">
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sing In!">
</form>

<!--<% include ../partials/footer %>-->
